<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <h1 style="font-size: 46px; text-indent: 30px; color: #2f1ce4;">Прошел все курсы на SkillBox!</h1>
    <h1 style="text-indent: 100px;">Продаю готовые домашние задания</h1>
    <div style="font-size: 25px">
        <ol>
            <li style="color: black;"><a href="profession_python" style="color: #2f1ce4; text-decoration: underline;">Python-разработчик</a></li>
            <li style="color: black;"><a href="frontend" style="color: #2f1ce4; text-decoration: underline;">Frontend-разработчик</a></li>
            <li style="color: black;"><a href="sql" style="color: #2f1ce4; text-decoration: underline;">SQL-разработчик</a></li>
            <li style="color: black;"><a href="java" style="color: #2f1ce4; text-decoration: underline;">Java-разработчик</a></li>
            <li style="color: black;"><a href="bd" style="color: #2f1ce4; text-decoration: underline;">Базы данных для разработчиков</a></li>
       </ol>
    </div>
</body>
</html>