<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курс java-разработчика</title>
</head>
<body>
    <p>
        <a href="../"><img src="https://cdn.clipartsfree.net/vector/medium/ftline_line_arrow_begin_Clip_Art.png" width="20" height="20" alt="назад">Назад</a>
    </p>
    <h1>java-разработчик</h1>
    <img style="width: 300px;" src="https://248006.selcdn.ru/LandGen/desktop_2_bb816ae9306d05d8a35f0bf956129c4138c0a2b1.webp" alt="Фото курса">
    
    <div>
        <h2></h2>
        <ol style="color: black;">
            <ul>Доброго времени суток, готовые решения на курс java-разработчика<s> 5000 </s> <b> 2900</b> рублей! <a href="https://skillbox.ru/course/java/">Подробнее...</a></ul>
        </ol>
    </div>
</body>
</html>