<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курс Python-разработчика</title>
    <style>
        .leftimg {
         float:left; /* Выравнивание по левому краю */
         margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
        }
        .rightimg  {
         float: right; /* Выравнивание по правому краю  */ 
         margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
        }
    </style>
</head>
<body>
    <p>
        <a href="../"><img src="https://cdn.clipartsfree.net/vector/medium/ftline_line_arrow_begin_Clip_Art.png" width="20" height="20" alt="назад">Назад</a>
    </p>
    <h1>Python-разработчик</h1>
    <p><img style="width: 100px;" src="https://248006.selcdn.ru/LandGen/desktop_2_4589beaf332198133164e04e0fb855c2c1368858.webp" alt="Фото курса" class="leftimg">
        <ol style="color: black;">
            <ul>Доброго времени суток, готовые решения на курс Python-разработчика<s> 5000 </s> <b> 2900</b> рублей!</ul> 
            <a href="https://skillbox.ru/course/profession-python/">Подробнее...</a>
        </ol>
    </p>
</body>
</html>