<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курс SQL-разработчика</title>
</head>
<body>
    <p>
        <a href="../"><img src="https://cdn.clipartsfree.net/vector/medium/ftline_line_arrow_begin_Clip_Art.png" width="20" height="20" alt="назад">Назад</a>
    </p>
    <h1>SQL-разработчик</h1>
    <img style="width: 300px;" src="https://248006.selcdn.ru/LandGen/desktop_2_806841abe777526c2ea10d5d52eefa6470701b57.webp" alt="Фото курса">
    
    <div>
        <h2></h2>
        <ol style="color: black;">
            <ul>Доброго времени суток, готовые решения на курс SQL-разработчика<s> 5000 </s> <b> 2900</b> рублей! <a href="https://skillbox.ru/course/sql-developer/">Подробнее...</a></ul>
        </ol>
    </div>
</body>
</html>