<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все новости</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <div>
        <h2>
            Доброго пожаловать на сайт {{ request.user.username }}!

        </h2><a href="{% url 'logout' %}" style="font-size: 25px">Выйти из системы</a>
    </div>

{% else %}
        <h2>
        Вы не авторизованы на нашем сайте
        <a href="{% url 'login' %}">Войти</a>
        <a href="{% url 'register' %}">(Зарегистрироваться)</a>
    </h2>

{% endif %}
<h1>НОВОСТИ</h1>
{% if tags and flag_auth %}
    <form method="post" name="filter">
    {% csrf_token %}
    <button type="submit" name="filter" value="date">Фильтра по дате</button>
</form>
    <h3>Фильтр по тегам</h3>
    {% for tag in tags %}
        <form method="post" name="filter">
            {% csrf_token %}
            <button type="submit" name="filter" value="{{ tag.id }}">{{ tag }}</button>
        </form>
    {% endfor %}
<form method="post" name="filter">
            {% csrf_token %}
            <button type="submit" name="filter" value="all-news">Все</button>
        </form>
{% endif %}
{% if news_list %}
    <ul>
        {% for news in news_list %}
            <li>
                <a href="/news/{{ news.id }}">{{ news.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>
        Новостей нет.(возможно нужно авторизоваться)
    </p>
{% endif %}
<p><a href="news/add_news">Добавить новость</a></p><br>
{{ form_search_tags }}






</body>
</html>