{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            SkillBlog
        {% endblock %}
    </title>
</head>

<body style="width: 1000px; position: absolute; left: 50%; margin-left: -500px;">
<a href="{% url 'main_page' %}" style="font-size: 40px">SKILL-BLOG</a>

{% if request.user.is_authenticated %}
    <b style="font-size: 20px; position: absolute; right: 0;">
                <p><form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form></p>
        <a href="{% url 'edit_account' %}">{% trans "Редактировать страницу" %}</a><br>
        <a href="{% url 'logout' %}">{% trans "Выйти из системы" %}</a>
    </b>
    <h2>
        {% trans "Доброго времени суток" %} {{ request.user.username }}</h2>
    <a href="{% url 'add_blog' %}">{% trans "Добавить блог" %}</a><br>
    <a href="{% url 'add_csv_blog' %}">{% trans "Добавить блоги массово (используя csv файл)" %}</a>


{% else %}

    <b style="font-size: 20px; position: absolute; right: 0;">
            <p><form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form></p>
        <a href="{% url 'login' %}">{% trans "Войти" %}</a>
        <a href="{% url 'register' %}">{% trans "(Зарегистрироваться)" %}</a>
    </b>
    <h2>
        {% trans "Вы не авторизованы на нашем сайте" %}
    </h2>
{% endif %}
<hr>
<div style="width: 1000px; position: absolute;">
    {% block content %}
        {% trans "Пусто" %}
    {% endblock %}
</div>
</body>
</html>